
02_Fuzzy_Logic/__pycache__/TrafficLightControlSystem.cpython-311.pyc
02_Fuzzy_Logic/__pycache__/RoadJunction.cpython-311.pyc
02_Fuzzy_Logic/__pycache__/Animation.cpython-311.pyc

04_Classification/credit_card_fraud.csv

05_NeuralNetworks/1_tf_cedit_card_fraud/1_creditcard_dataset.csv
05_NeuralNetworks/4_tf_classification/4_binary_table.csv.csv